.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

*.class
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.zip
*.tar.gz
*.rar

out/

.idea/
*.iml
*.ipr
*.iws

.DS_Store

.env
.env.local
.env.*.local

application-local.yml
!src/main/resources/application-local.yml
application-prod.yml

*.tmp
*.swp
*~

node_modules/
